body {
    font-family: Arial, sans-serif;
    background-color: bisque
    }
  
  #start-container, #quiz-container, #result-container {
    text-align: center;
    margin-top: 100px;
  }
  
  #quiz-container {
    margin-top: 50px;
  }
  
  #choices {
    list-style: none;
    padding: 0;
    /* width: 50px; */
  }

  li button{
    width: 200px;
    font-size: larger;
  }
  
  #result-container {
    font-size: 24px;
  }
  
  #result-container.correct {
    color: green;
  }
  
  #result-container.incorrect {
    color: red;
  }
  
  #score-container{
    margin-left: 393px;
    font-size: xx-large;
  }

  #timer{
    font-size: xx-large;
  }