body {
  font-family: Arial, sans-serif;
  background-color: #c6c1bb;;
  border: 3px solid #0d0c0c;
  max-width: 75vw; /* Set maximum width to 75% of the viewport width */
  /* max-height: 80vw; */
  margin: 0 auto; /* Center the page horizontally */
}

/* Rest of your CSS code... */

  /* YOU have the allingmet of the following containers here */
  #start-container, #quiz-container, #result-container {
    text-align: center;
    margin-top: 21px;
    /* font-size: large; */
  }
  h1 { 
    background: aliceblue;
  }

  #quiz-container {
    margin-top: 50px;
  }
  
  #choices {
    list-style: none;
    padding: 0;
        /* width: 50px; */
  }

  li button{
    width: 200px;
    /* font-size: larger; */
    border: 3px solid #0d0c0c;
    border-radius: 10px;
    margin-top: 4px;
  }
/* Puase and Resume button */
  #pause-btn{
 
    height: 35px;
    font-size:larger;
    margin-top: 12px;
    border: 3px solid #0d0c0c;
    border-radius: 10px;
  }

  span #score{
    margin-left: 60px;
  }

  .btn{
    margin-right: 50px;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    border: 3px solid #0d0c0c;
    border-radius: 10px;
  }
  
  #result-container {
    font-size: 24px;
  }
  
  #result-container.correct {
    color: green;
  }
  
  #result-container.incorrect {
    color: red;
  }
  
  #score-container{
    /* margin-left: 393px; */
    font-size: xx-large;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  #timer{
    font-size: xx-large;
    background: yellow;
  }

  #high-score-btn{
    width: 200px;
    font-size: x-large;
    border: 3px solid #0d0c0c;
    border-radius: 10px;
  }

  #high-score-container{
    margin-top: 25px;
    
  }

a.btn{
    margin-bottom: 15px;
    margin-top: 14px;
    
  }

  /* main button */
  #start-btn{
    width:200px;
    font-size: x-large;
    border: 3px solid #0d0c0c;
    border-radius: 10px;
  }

  #submit-score{
    display: none;
  }

  #user-score{
    margin-bottom: 10px;
    margin-top: 5px;
  }

  input#initials{
    display: none;
  }